@import "tailwindcss";


/* @media (prefers-color-scheme: dark) {
  :root {
    color: #d1d5db;
    background-color: #121212;
  }
  a:hover {
    color: #818cf8;
  }
  button {
    background-color: #1f1f1f;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
